
.container-fluid {
	font-size: 1.25rem;
	font-weight: 300;
}

.container {
	width: 100%;
	font-size: 1.25rem;
	font-weight: 301;
}

img {
	image-rendering: auto; /* to ensure smoothness and better resolution of images while changing viewport size */
}

#desc {
	display: block;
}

#mascot-img-sd {
		display: none;
}

h1 {
	text-align: center;
	display: block;
	position: relative;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2 {
	display: block;
	position: relative;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h4 {

	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
/*.para_search{
	font-family:Verdana, Geneva, sans-serif;
	text-align:justify;
	font-size:1.1rem";
}*/

header {
	width: 100%;
	height: auto;
	display: inline-block;
	margin-bottom: 2%;
}

#mascot-img {
	max-width: 60%;  /*assigned to shrink the image size to 50% of its original size */
	height: auto;
	padding: 0;
	margin: 0;
}

#c4 {
	opacity: 1;
	display: inline-block;
}

#carousels {
	z-index: 1;
	height: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.carousel-img {
	max-width: 50%;  /*assigned to shrink the image size to 50% of its original size */
	height: auto;
}

.carousel{
	display: inline-block;
	max-width: 13%; /*To ensure the seven carousels are aligned horizontally in a single line */
	height: auto;
	opacity: .7; /* opacity of carousel images set to 70% of their original image opacity. This makes them transparent enough to
	be contrasted nicely with the mascot  */
}

/* Overriding the below class from Bootstrap 4 to align with our requirement. This handles the testimonials */
.col-sm-4 {
	text-align: center;
}

.col-sm-4 img {
	margin: 10px;
	width: 100%;
	margin-top: 0 auto;
	height: auto;
}

.captions {
	font-size: 0.9rem;
	font-style: italic;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.btn-pop-up{
	float:right;
	width:40%;
	padding: 15px 32px;
	border: 1px solid #000000;
    border-radius: 25px;

	text-align:center;
	background-color:rgb(0,207,240,0.6);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #000000;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;

}
.btn-pop-up:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.btn-pop-up-1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.btn-pop-up-1{
	float:left-side;
	width:40%;
	padding: 15px 32px;
	border: 1px solid #000000;
    border-radius: 25px;
	text-align:center;
	background-color:rgb(0,207,240,0.6);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #000000;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}

#popupimg{

	text-align: center;

}
/* properties of image (BabyWatch icon) in the navigation bar */
/*.img-left {
	float: left;
	width: 100%;
	height: auto;
}
*/
/* Overriding the below class from Bootstrap 4 to align with our requirement. This handles the navigation bar */
.navbar {
	background-color: #ffcfda;
}

/* Overriding the below class from Bootstrap 4 to align with our requirement */
.nav-link {
	color: #454140;
	font-size: 1.25rem;
	font-weight: 300;
	height: auto;
}

.nav-link:hover {
	color: #00cff0; /* The color of the navigation links changes from grey to blue on hover. This brings contrast for better user
	experience. Also, aligns with the color themes of the website */
	font-weight: 600;
}
/* The footer of the website has some of the navigation links again, in case users need to go back to home page or search for something.
In the footer we don't change the color to blue on hover, unlike in the top navigation bar. On hover functionality is not feasible for
mobile devices as there is no mouse. Footer also has links to our social media pages which is responsive for different device widths. We have also included
team name (author) information and cited references for the images or icons */
footer {
	background-color: #ffcfda;
	color: black;
	padding: 5px;
	font-size: 1rem;
	font-weight: 300;
	padding-top: 20px;
	padding-bottom: 40px;
}

#footer-left {
	display: inline-block;
	color: black;
}

#footer-left ul {
	list-style: none;
    padding-left: 0;
}

#footer-right {
	float: right;
}

.footer-content {
	display: block; /* block format ensures the different components of the footer do not overlap with each other */
}

footer a:hover {
	color: black;
	text-decoration: none;
	font-weight: 600;
}

footer a {
	color: black;
	font-size: 1rem;
}

footer img {
	width: 30px;
	height: 30px;
	height: auto;
	margin: 10px;
}

footer p {
	margin-bottom: 0;
	font-size: 0.8rem;
}

#tamu-logo {
	width: 60px;
	height: auto;
	margin: 0;
}
/*This part of CSS is for the login Page*/
#login-header {
    text-align:center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#register-welcome-text {
    font-family:Verdana, Geneva, sans-serif;
    text-align: center;
    font-size:0.9rem;
    padding:10px;
}

.register-welcome-text-1 {
    font-family:Verdana, Geneva, sans-serif;
    text-align: justify;
    font-size:0.9rem;
    padding:10px;
}

#login-submit-button {
    /*float:center;*/
	width:60%;
	padding: 15px 32px;
	border: 1px solid #000000;
    border-radius: 25px;
	text-align:center;
	background-color:rgb(0,207,240,0.6);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #000000;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;

}
#login-submit-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
#forgot-password {
    font-family:Verdana, Geneva, sans-serif;
    text-align: center;
    font-size:0.9rem;
    padding:10px;
}

/*The CSS for login Page ends here*/

/*This part of CSS is for the Logout Page*/

.logout-page-box {
    float: center;
    text-align:center;

}

#logout-text {
    font-family:Verdana, Geneva, sans-serif;
    text-align: center;
    font-size:0.9rem;
    padding:15px;
}

.log-out-page-header {
    display: block;
	position: relative;
	text-align:center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

#logout-img {
    float:center;
    text-align:center;
}
/*CSS for the logout page ends here*/


/*This part of CSS is for search result profile page to work*/
.aboutus-section {
    padding: 2% 0;
}
.aboutus-title {
    font-size: 1.9rem;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: #000000;
	font-family:Verdana, Geneva, sans-serif;
	text-align:justify;
	font-size:0.8rem;
    line-height: 1.8em;
    margin: 0 0 35px;
}

#button{
	padding:10%;
	position:static;


}
a:hover, a:active {

    text-decoration: underline;
    outline: 0;
}
.aboutus-more {
    border: 1px solid #000000;
    border-radius: 25px;

	text-align:center;
	background-color:#00CFF0;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #000000;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}

.list-group-item{
	font-size:0.7rem;
	font-family:Verdana, Geneva, sans-serif;
}
.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}
.feature .feature-box .iconset::after {
    background: #fdb801 none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}


.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}
.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}
.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}
.icon {
    color : #f4b841;
    padding:0px;
    font-size:40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}


/*Search Results Page*/

/*FAQ Page Only*/
#FAQh2{
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
	text-align:center
}

.container{
	padding: 3% 0;
}
.panel-title{
	font-size:1.1rem;
	font-family:Verdana, Geneva, sans-serif;
	background-color: #f8f8f8;
	color: #000000;
	border: solid #f8f8f8 15px;

}
.panel-body{
	font-size:0.8rem;
	font-family:Verdana, Geneva, sans-serif;
	line-height: 1.5em;
	color:#000000;
}
.collapsed{
	color:black;
}
/*.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 10%;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-align:center;
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #000000;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;

}
*/
/*FAQ Page end*/


/* Profile Page Start */

#nav {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;

}


#nav ul {
	list-style: none;
	width: 100%;
	margin: 0 auto;
	padding: 0;

}
#nav li {
	float: left;
	width: 33.333%;
	text-align: center;

}
#nav li a {
	display: block;
	padding: 8px 15px;
	font-size: 1em;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc;

}
#nav li:first-child a {
	border-left: 1px solid #ccc;

}
#nav li a:hover {
	color: #c00;
	background-color: #fff;

}

#current-selected {
    background-color: #fff;
}

.profile-block {
    max-width: 75%;
    margin: auto;
}

.cap {
    text-transform: capitalize;
}

.wider{
    width: 200%;
}

#register-submit-button {
    float:center;
	width:35%;
	padding: 15px 32px;
	border: 1px solid #000000;
    border-radius: 25px;
	text-align:center;
	background-color:rgb(0,207,240,0.6);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #000000;
    /*display: inline-block;*/
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;

}
#register-submit-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

/* Profile Page End */


@media only screen and (min-device-width : 320px) and (max-device-width : 640px) {

	#carousels {
		display: none;
	}

	h1 {
		font-size: 1.8rem;
	}

	p.captions {
		font-size: 0.7rem;
		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}

/*	.img-left {
		width: 30%;
	}*/

    #mascot-img-sd {
		display: block;
		width: 30%;
		margin: 0 auto;
		height: auto;
	}

	/* Overriding the below class from Bootstrap 4 to align with our requirement. This class corresponds to the button icon (rounded square
	outline) which is used to expand the navigation bar on mobile devices. Overriding the color code to 'firebrick' */
	.custom-toggler.navbar-toggler {
		border-color:#b22222;
	}

	/* Overriding the below class from Bootstrap 4 to align with our requirement. This class corresponds to the button icon (3 horizontal
	lines) which is used to expand the navigation bar on mobile devices. Overriding the color code to 'firebrick' */
	.custom-toggler .navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(178, 34, 34, 0.7)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}

	.col-sm-4 img {
		width: 100%;
		padding: 0 10%;
		margin: 0 auto;
		height: auto;
	}

	#footer-right img {
		display: block; /* to stack the social media icons on top of another in the footer (in mobile devices) */
	}
	.aboutus-section {
    padding: 10% 0;

    #register-submit-button {
    float:center;
	width:40%;
	padding: 7px 10px;
	border: 1px solid #000000;
    border-radius: 25px;
	text-align:center;
	background-color:rgb(0,207,240,0.6);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #000000;
    /*display: inline-block;*/
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;

    }


}
.container{
	padding: 10% 0;
}
}