{% extends 'base.html'%}
{% load static %}

{% block head %}
<title>About BabyWatch</title>
{% endblock%}

{% block body%}
<div class="container">

	<h1 id="FAQh2">Frequently Asked Questions </h1>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading p-3 mb-3" role="tab" id="heading0">
		<h3 class="panel-title">
			<a style="color:black" class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
			What is Babywatch?
			</a>
		</h3>
		</div>
		<div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
		<div class="panel-body px-3 mb-4">
			<p>BabyWatch is a website that allows you to search for playdates. It was developed by four students from Mays Business School, Texas A&M University. Their vision is to help families connect with each other while they get their kids to socialize.</p>

		</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading p-3 mb-3" role="tab" id="heading1">
		<h3 class="panel-title">
			<a style="color:black" class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
			Is this service paid?
			</a>
		</h3>
		</div>
		<div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
		<div class="panel-body px-3 mb-4">
			<p>Yes, absolutely! We do not charge a dime from the parents.</p>
		</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading p-3 mb-3" role="tab" id="heading2">
		<h3 class="panel-title">
			<a style="color:black" class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
			Why should I undergo a Background check for using a website?
			</a>
		</h3>
		</div>
		<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
		<div class="panel-body px-3 mb-4">
			<p>This website allows parents to enter their kids information such as name, age, gender, etc. and even upload photographs. Also, all users are going to set up playdates for their kids using our service. While we strive to ensure that this data is secured, we also want to ensure that no user with a criminal background gets to access the website. This is why we do a background check on all our users to ensure the safety of families using our service.</p>
		</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading p-3 mb-3" role="tab" id="heading3">
		<h3 class="panel-title">
			<a style="color:black" class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
			How will I know that the Background check is completed?
			</a>
		</h3>
		</div>
		<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
		<div class="panel-body px-3 mb-4">
			<p>You will receive an email from us with the results of your check. If your check is successful, you will then be able to login and enjoy full functionalities of our website. </p>
		</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading p-3 mb-3" role="tab" id="heading4">
		<h3 class="panel-title">
			<a style="color:black" class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
			I cannot find my Zip Code. What should I do?
			</a>
		</h3>
		</div>
		<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
		<div class="panel-body px-3 mb-4">
			<p>We are greatful for your interest in our community. BabyWatch is currently only available for Brazos County, Texas. We are in the process of expanding and hope to extend our service to all counties in Texas soon.  </p>
		</div>
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading p-3 mb-3" role="tab" id="heading5">
		<h3 class="panel-title">
			<a style="color:black" class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
			Whom should I contact in case of any queries/concerns?
			</a>
		</h3>
		</div>
		<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
		<div class="panel-body px-3 mb-4">
			<p>Below are the contact details of our company:
                Address - 400 Bizzel Street, College Station, Texas
                Phone Number - (123)-435-5647
                Email ID - customer_service@babywatch.com</p>
		</div>
		</div>
	</div>



	</div>

</div>

{% endblock %}
