{% extends 'base.html'%}

{% block body%}
<div class="container", style="width:400px">
</br>
    <div class='card'>
            <div class='card-header'><h2>You can register here</h2></div>
            <div class='card-body'>
                    <form method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button bype="submit">Submit</button>
                        </form>
            </div>     
    </div>
</br>
</div>
{%  endblock %}
